{% extends "layout.html" %}
{% block head %}
	<title>About This Site</title>
{% endblock head %}
{% block title %}
<h2> About this site </h2>
{% endblock title %}
{% block content %}
	<div class="container main-text">
		<div class="row">
			<div class="col-md-12 about">
				<p>This site is built by <em>Rachana</em> as part of her CodeFirstGirls competition entry</p>
				<p>It is inspired by my desire to stay motivated for learning more languages and also motivate others in doing so.</p>
				<p>It also serves as a platform to document the skills I've gained through 
				programming.</p>
				<a class="links" href="https://www.mondly.com/blog/2017/10/24/surprising-brain-benefits-of-learning-foreign-languages/">Source for info on brain effects of learning languages</a>
				<h3>Thanks for passing by and I hope you enjoy your time!</h3>
				<iframe class="embed-site" src="https://www.codefirstgirls.org.uk/" <!-- width="1100" height="300" -->>
					this shows a snippet of the code first girls website
				</iframe>
			</div>
		</div>
	</div>
{% endblock content %}